*.log
.DS_Store
__pycache__/
.codex
forecast/.codex
output/*
!output/pk_fid/
!output/pk_fid/**
!output/avg_jn/
!output/avg_jn/**
fits_data/Roman_fits/
fits_data/DESI/
nz_data/Roman_L_bins/
nz_data/Roman_z_bins/
nz_data/DESI_samples/
nz_data/DESI_ELG_bin*.npz
